.page {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  max-width: 882px;
  min-width: 300px;
}

@media screen and (max-width: 900px) {
  .page {
    margin: 0 auto;
  }
}
