.popup__image-close {
  position: absolute;
  right: -3rem;
  top: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}


.popup__image-close:hover {
  opacity: 0.6;
  transition: 1s;
}

@media screen and (max-width: 650px) {
  .popup__image-close {
  right: -1.5rem;
  top: 1rem;
}
}
