.popup__save_error {
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 2px;
  color: #000;
  opacity: .2;
}

.popup__save_error:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, .2);
}

