@import url(./__copyright/footer__copyright.css);

.footer {
  padding-top: 4.125rem;
  padding-bottom: 3.75rem;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  margin: auto;
  max-width: 882px;
  min-width: 300px;
}
