.profile__job {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

@media screen and (max-width: 618px) {
  .profile__job {
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2.25rem;
  }
}
